/*-------------------------------GLOBAL------------------------------------*/
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1440px;
    margin: 0 auto;

}

/*------HEADER-----*/

#home-icon {
    display: none;
}


nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: #FEFEFE;
    font-size: 17px;
    padding: 10px 20px;
    text-transform: uppercase;
}

nav ul li a:hover {
    border-bottom: 1px solid #b0e633;
}

/*--------------------------------------HERO------------------------------------*/

.container-hero {
    background: url(img/img-hero3.jpg) no-repeat center;
    height: 100vh;
    background-size: cover;
    color: white;
    /* Empêche le défilement */
    display: flex;
    width: auto;
    margin: auto;
    position: relative;
}

.container-body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}


.container-hero h1 {
    font-size: x-large;
}

.container-header+p {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}

/* Styles pour le curseur */
.cursor {
    display: inline-block;
    width: 4px;
    height: 35px;
    background-color: white;
    animation: cursorBlink 0.8s infinite;
    opacity: 0;
    /* Démarre avec le curseur caché */
}

/* Animation pour le clignotement du curseur */
@keyframes cursorBlink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.text {
    text-shadow:
        #FFFFFF 0 0 12px,
        #b0e633 0 0 25px,
        #b0e633 0 0 35px,
        #b0e633 0 0 45px;
}



/*---------------------------------CONTAINER CONTAINER CARDS----------------------------*/




/* -----------------------------------CONTAINER CARDS -----------------------------*/

.container-hero-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-hero-cards a {
    text-decoration: none;
}

/*----------------------------------------- CARDS ------------------------------------*/

.card {
    width: 200px;
    height: 264px;
    transition: all 0.2s;
    position: relative;
    cursor: pointer;
    display: inline-flex;
    margin-top: 0px;
}

.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-inner p {
    color: white;
    text-align: center;
    font-size: x-large;
}

.card:hover {
    transform: scale(1.04) rotate(1deg);
}

.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
    top: -25px;
    left: -25px;
}

.circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
}

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
    }
}



/* ------------------------------------FOOTER -------------------------------*/


footer {
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 10px 0;
}

/*--------------------------------ICON SOCIAL MEDIA---------------------------------------------*/

.container-footer {
    flex-direction: column;
    align-items: center;
    width: auto;

}

.container-footer ul {
    padding-inline-start: inherit;
}




.container-icon {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.container-icon li a img {
    transition: transform 0.65s ease-out;
}

.container-icon li a:hover img {
    transform: scale(2) rotate(360deg);
}

.container-header img {
    transition: transform 0.65s ease-out;
}



/*-------------------------------------------TITLE AND LOGO-----------------------------------*/



.container-header {
    display: flex;
    justify-content: space-around;
}

.transition {
    transition: opacity 0.3s ease-in-out;
}

/* --------------------------------- MEDIA QUERY 768 PX-------------------------------------------*/




@media screen and (max-width: 768px) {
    .container {
        display: block;
        width: auto;
        margin: 2px;
    }

    .container-footer {
        display: flex;

    }

    .card {
        width: 170px;
        height: 264px;
    }

    .container-header+p {
        font-size: x-large;
    }

    .card-inner p {
        font-size: large;

    }

    .download-cv {
        top: 0vh !important;
        /* Position relative pour que les pseudo-éléments soient positionnés par rapport à cet élément */

        left: 5vh !important;
        position: relative !important;
    }

    .download-cv img {
        height: 70px !important;
    }

    .section-projet {
        padding-top: 2vh !important;
    }




    .section-projet-content-card-group {
        padding: 0 !important;

    }

    .section-projet-content-card {
        flex: 0 0 18.75rem;
        display: flex;
        flex-direction: column;
        height: 20.75rem;
        padding: 2rem;
        transition: transform 250ms;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 0.625rem;
        box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
        text-align: center;
        align-items: center;
    }
}


/* --------------------------------- MEDIA QUERY 400 PX-------------------------------------------*/

@media screen and (max-width: 400px) {

    .container {
        padding: 0;
        margin: 0;
        width: 378px;
    }

    .container-hero {
        height: 100%;
    }

    .container-header {
        width: auto;
    }



    .container-hero-cards {
        flex-wrap: wrap;
        justify-content: center;
        width: auto;

    }

    .card {
        width: 120px;
        height: 180px;
    }

    .card-inner p {
        font-size: medium;

    }

    .about-content {
        padding: 0px;
    }

    .container-about-content {
        margin: 0px !important;

        padding-bottom: 35px !important;
        font-size: smaller !important;
    }

    .container-about-content h1 {
        margin: 0px;
        padding: 0px;
    }

    .container-hero h1 {
        font-size: large;
    }

    .home {
        display: block;
    }

    .circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        animation: move-up6 2s ease-in infinite alternate-reverse;
    }

    .circle:nth-child(1) {
        top: -25px;
        left: -25px;
    }

    .circle:nth-child(2) {
        bottom: -25px;
        right: -25px;
        animation-name: move-down1;
    }


    #home-icon {
        display: flex;

    }

    nav {
        display: none;
    }


    .about-content {
        padding-top: 0 !important;
    }



    .cv-content {
        padding-top: 0vh !important;
    }

    .container-cv-content {
        display: block !important;
        justify-content: space-between;
        max-width: 900px;
        /* Ajustez la largeur maximale selon vos besoins */
        font-size: small;
    }

    .container-hero {
        overflow: scroll;
    }

    footer {
        position: relative;
    }

    .download-cv {
        align-items: center;
        position: relative !important;
    }

    .download-cv img {
        height: 35px !important;
    }

    .download-cv::after {
        font-size: x-small;
    }

    .section-projet {
        padding-top: 0vh !important;
    }

    .section-projet-content h1 {
        margin-top: 10px !important;
    }

    .section-projet-content-card-group {
        display: block !important;
        width: 80%;
    }

    .section-projet-content-card:not(:first-child) {
        margin-left: 0 !important;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .section-projet-content-card:hover {
        transform: translate(0) rotate(0deg) !important;
    }

    .section-projet-content-card:hover~.section-projet-content-card {
        transform: translateX(0) !important;
    }

    .section-projet-content-card h3 {
        color: #b0e633;
    }

    .section-projet-content-card p {
        color: #FEFEFE;
    }

    .section-projet-content-card img {
        margin: auto;
        border-radius: 5px;

    }

    .section-projet-content-card a {
        color: #b0e633;
        text-decoration: none;
        padding: auto;

    }

    .contact-section {
        padding-top: 8vh !important;
        padding-bottom: 10vh !important;
    }

    .nav-modal {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 80vh;
        text-align: center;
        justify-content: center;
        align-content: center;

    }

    nav ul {
        display: flex;
        margin: 5px;
        flex-direction: column;
        align-items: center;
        padding-inline-start: 0px;
    }

    nav ul li {
        padding: 20px;
    }



    .cv-left,
    .cv-right {
        padding-top: 10px;
        padding-bottom: 10px;

    }
}



/* --------------------------------- MEDIA QUERY 376 PX-------------------------------------------*/



@media screen and (max-width: 376px) {
    .about-content h1 {
        margin-bottom: 0vh !important;
        ;
    }


    .container-about-content {
        margin: 0px;

        font-size: small !important;
    }

    .container-header+p {
        font-size: large;
        padding-top: 0vh !important;
        margin: auto;
    }


    .contact-section {
        padding-top: 2vh !important;
        padding-bottom: 0vh !important;
    }
}

/* ----------------------- ABOUT ----------------------- */

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.container-about-content {
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 20px;
    padding: 20px;
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: larger;
    margin: 30px;
    justify-content: center;

}

.container-about-content a {
    color: #b0e633;
    text-decoration: none;
}


/*----------------------------------------CV----------------------------------*/


.cv-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cv-content h5 {
    margin: 0;
    padding: 0;
}

.cv-content h4 {
    margin: 0;
    padding: 0;
    font-style: italic;
}

.cv-content a {
    color: #b0e633;
}

.cv-content p {
    color: #ffffff;
    margin-bottom: 20px;
}

.container-cv-content {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    /* Ajustez la largeur maximale selon vos besoins */
}

.cv-left,
.cv-right {
    flex-basis: 50%;
    padding-left: 30px;
    padding-right: 30px;
    /* Ajoutez un peu de padding pour l'espace entre les colonnes */
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 20px;
}

.cv-left h3:first-child {
    margin-top: 2vh;
}

.cv-right h3:first-child {
    margin-top: 2vh;
}

.resume-title {
    color: #b0e633;
}

.resume-item {
    margin-bottom: 15px;
    text-align: left;
}

.resume-item h4 {
    font-style: italic;
}

.resume-item p {
    color: #ffffff;
}


.download-cv {
    position: absolute;
    /* Position relative pour que les pseudo-éléments soient positionnés par rapport à cet élément */
    display: inline-block;
    top: 50vh;
}

.download-cv::after {
    content: "Télécharger mon C.V en format PDF.";
    /* Ajout du texte */
    position: absolute;
    /* Position absolue par rapport à l'élément parent */
    top: calc(100% + 5px);
    /* Positionne le texte en dessous de l'élément */
    left: 50%;
    /* Centre horizontalement */
    transform: translateX(-50%);
    /* Centre horizontalement */
    background-color: rgba(0, 0, 0, 0.7);
    /* Couleur de fond */
    color: #ffffff;
    /* Couleur du texte */
    padding: 5px 10px;
    /* Espacement intérieur */
    border-radius: 5px;
    /* Coins arrondis */
    opacity: 0;
    /* Masque initialement */
    transition: opacity 0.3s ease;
    /* Transition pour une animation fluide */
    text-align: center;
}

.download-cv:hover::after {
    opacity: 1;
    /* Affiche le texte lors du survol */
}

.download-cv img {
    transition: transform 0.65s ease-out;
    /* Transition pour l'animation de l'image */
}

.download-cv:hover img {
    transform: scale(1.5);
    /* Animation de l'image au survol */
}



/*-------------------------------------------- PROJECT -------------------------------------*/


.section-projet {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 15vh;
}

.section-projet-content {
    margin: auto;
}

.section-projet-content h1 {
    text-align: center;
    margin-top: 35px;
}


.section-projet-content-card-group {
    max-width: 78.75rem;
    display: flex;
    padding: 3.125rem;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.section-projet-content-card {
    flex: 0 0 18.75rem;
    display: flex;
    flex-direction: column;
    height: 20.75rem;
    padding: 2rem;
    transition: transform 250ms;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 0.625rem;
    box-shadow: 0 0.3125rem 1.25rem rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
}



.section-projet-content-card:not(:first-child) {
    margin-left: -8.125rem;
}

.section-projet-content-card:hover {
    transform: translate(-0.5rem, -1rem) rotate(3deg);
}

.section-projet-content-card:hover~.section-projet-content-card {
    transform: translateX(8.125rem);
}

.section-projet-content-card h3 {
    color: #b0e633;
}

.section-projet-content-card p {
    color: #FEFEFE;
}

.section-projet-content-card img {
    margin: auto;
    border-radius: 5px;

}

.section-projet-content-card a {
    color: #b0e633;
    text-decoration: none;
    padding: auto;

}


/*--------------------CONTACT----------------------*/


.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 18vh;
}


.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact-content h1 {
    padding-top: O;
}



.contact-form {
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(51, 51, 51, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding-top: 10px;
}

.contact-form textarea {
    height: 100px;
}

.contact-form input[type="submit"] {
    width: 100%;
    background-color: #b0e633;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form input[type="submit"]:hover {
    background-color: #b0e633;
}


/* Style de la modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contenu de la modal */
.modal-content {
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    font-size: xx-large;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.modal-content a {
    color: #b0e633;
    list-style-type: none;
}

/* Bouton de fermeture */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* --------------POPO UP MAIL SUCESSE ------------------*/


.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}